# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PHP
vendor/
composer.lock

# SCSS/CSS build
*.css.map
*.scssc

# IDE/Editor
.vscode/
.idea/

# Logs
*.log

# Others
.env
.env.*

# Images/Assets cache
application/themes/mongzen/assets/images/global/blank.*

# Backup files
*~
*.bak

# Thumbnails
application/themes/mongzen/thumbnail.png

# Themes
application/themes/atomik
