@import "components/header";
@import "components/footer";
@import "components/button";

:root {
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;

  // Colors
  --color-green-100: #a8d5ba;
  --color-green-200: #6b9a6d;
  --color-green-300: #4b7f52;
  --color-green-400: #2e5b3c;
  --color-green-500: #1b3a24;
  --Deep-Evergreen: #193320;
  --Forest-Green: #295134;
  --color-orange: #cc4a02;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-text-base: #2e5b3c;
  --color-accent: #a8d5ba;

  // Font Sizes

  // Font Families
  --font-primary: "Sarabun", serif;
}

html {
  min-height: 100%;
}

body {
  font-style: normal;
  font-family: var(--font-primary);
  color: var(--color-text-base);
}

a,
button,
.btn {
  display: inline-block;

  &:link,
  &:active,
  &:visited,
  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
    box-shadow: none;
  }
}

img,
picture {
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
}

/* fix ccm area on edit */
div.ccm-area {
  // margin-bottom: 0 !important;
}

div.ccm-area-footer {
  // min-width: max-content;
  // text-align: unset !important;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2 {
  color: var(--Deep-Evergreen, #193320);
  text-align: center;
}

h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 2rem;
}

.main-article {
  @extend %flex-column;
  gap: 40px;
  padding: 0 0 40px;
}
