.header-search {
	h3 {
		width: 156px;
		height: 45px;
		flex-shrink: 0;
		border-radius: 45px;
		background: #fff;
		text-align: center;
		font-size: 15px;
		font-style: normal;
		font-weight: 600;
		line-height: 22px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 1rem 0 0;
		& > i {
			font-size: 20px;
		}
	}
	input[type="text"] {
		border-radius: 45px 0 0 45px !important;
		background: #fff;
		height: 45px;
		flex-shrink: 0;
		&::placeholder {
			color: var(--Mint-Green, #427348);
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			opacity: 0.5;
		}
	}
	.submit-wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		.ccm-search-block-submit {
			width: 56px;
			height: 45px;
			flex-shrink: 0;
			border-radius: 0 45px 45px 0;
			background: var(--Tangerine-Flame, #cc4a02);
			padding: 0;
			text-indent: -9999px;
		}
		i {
			position: absolute;
			color: #fff;
			font-size: 18px;
			margin-left: -7px;
		}
	}
}
