.bestSeller {
	&-page-list {
		&-wrapper {
			padding: 2rem 0;
		}
		&-header {
			margin-bottom: 2rem;
		}
		&-pages {
			max-width: 1240px;
			margin: auto;
		}
		&-page {
			width: 100%;
			max-width: 400px;
			border-radius: 10px;
			background: url(./background.jpg) rgba(158, 206, 177, 0.2) 213.33px 113px / 46.309% 62.081% no-repeat;
			background-blend-mode: luminosity, normal;
			padding: 30px;
			align-items: center;
			aspect-ratio: 4 / 3;
			&-entry-thumbnail {
				width: 164px;
				height: 186px;
				flex-shrink: 0;
			}
		}
		&-date {
			font-size: 12px;
		}
		&-page-entry-text {
			display: flex;
			width: 200px;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			flex-shrink: 0;
			a {
				color: var(--Deep-Evergreen, #193320);
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 24px; /* 150% */
			}
		}
		&-title {
		}
		&-description {
			color: #000;
			font-family: Sarabun;
			font-size: 12px;
			font-style: italic;
			font-weight: 400;
			line-height: 16px;
		}
	}
}
